wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: #1a1a1a;
}

.gallery{
  padding: 1em;
  width:80%;
  column-count: 4;
  column-gap: 1em;
  
}
img{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 1em;
  transition: all 0.2s;
}
img:hover{
  transform: scale(1.05);
  transition: all 0.2s;
}

.gallery:hover img:not(:hover){
  opacity: 0.75;
}

@media (max-width: 1200px) {
  .gallery{
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .gallery{
    width: 100%;
    column-count: 2;
  }
}
