
.timeline {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
}

.card {
  background-color: #1d1d1d;
  color: #fff;
  border-radius: 10px;
  padding: 1em;
  width: 350px;
  column-gap: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2em;
  animation: Popup 0.5s ease-in-out;
}

.cardTitle {
  font-size: 3em;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1em;
}

.cardContent {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cardContent div {
  width: 100%;
  text-align: center;
  border-radius: 10px;
}
.cardContent div div {
  width: 100%;
  padding: 0.25em;
  transition: all 0.2s;
}

.cardContent div div:hover {
  background-color: #fff;
  color: #1a1a1a;
  transition: all 0.2s;
}

@keyframes Popup {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
